<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar</title>
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/content_forms.css"/>
</head>
<body>
    <div>
        <header class='body_header'>
            <nav class='menu'>
                <div class='menu_logo'>
                    <a class='menu_icon' href='/'><div id='photo_teste'></div></a>
                </div>
                <ul class='menu_list'>
                    <li class='menu_item'>
                        <a class='menu_link' href='/soli.ta/'>Solicitar</a>
                    </li>
                    <li class='menu_item'>
                        <a class='menu_link' href='/soli.co/'>Solitações</a>
                    </li>
                    <li class='menu_item'>
                        <a class='menu_link' href='/del.te/'>Excluir</a>
                    </li>
                </ul>
                <a class='menu_credit' href='https://github.com/farias-mts'>Criado por Matheus Farias</a>
            </nav>
        </header>
    </div>
    <div class='content_forms'>
        <h1 id='title'>Excluir Cliente</h1>
         <form class='request_forms' method='POST'>
             <p>
                 <label>Id</label>
                 <input text='Digite o id' name='id' id='id'>
             </p>
             <Button type='submit' class="btn btn-primary" id='delete_client'>Atualizar</Button>
         </form>    
    </div>
    <div id='output'>
        <p>{{ status }}</p>
    </div>
</body>
</html>