<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/content.css"/>
</head>
<body>
    <div>
        <header class='body_header'>
            <nav class='menu'>
                <div class='menu_logo'>
                    <div id='photo_teste'></div>
                    <a class='menu_icon' href='/'></a>
                </div>
                <ul class='menu_list'>
                    <li class='menu_item'>
                        <a class='menu_link' href='soli.ta'>Solicitar</a>
                    </li>
                    <li class='menu_item'>
                        <a class='menu_link' href='/soli.co/'>Solitações</a>
                    </li>
                </ul>
                <a class='menu_credit' href='https://github.com/farias-mts'>Criado por Matheus Farias</a>
            </nav>
        </header>
        <header id='header'>
            <div class='header'>
                <div class='header_banner'>
                    <div class='banner'>
                        <img src='../static/images/credit_car.png'/>
                        <p>Faça já seu Cartão de Crédito!</p>
                    </div>
                </div>
                <div id='header_text'>
                    <h1 id='my_obj'>Objetivo deste Projeto</h1>
                    <p>Este site tem como objetivo criar/gerar um cartão de crédito.
                        <br/>
                        Para solicitar um cartão basta ir em "Solicititar".
                        <br/>
                        Para visualizar as solicitações basta ir em "Solicitações".
                    </p>
                </div>
            </div>
        </header>
    </div>
</body>
</html>