.content_forms{
    margin-top:120px;
    margin-left:20px;
}

.request_forms{
    margin-top:5px;
}

.request_forms label{
    font-size:22px;
    color:#333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin-top:10px;
}

.request_forms input{
    width:250px ;
    height:35px;
    margin-left:40px;
    position: relative;
    margin-top:10px;
}

#title{
    color:#C3C3C3;
}

#generate_card{
    margin-top:10px;
    font-size:20px;
    margin-left:120px;
}
